.App {
  min-height: 100vh;
  text-align: center;
  transition: " transition:width 2s ease-in-out"
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-outlet {
  padding-top: 6vh;
  overflow: hidden;
}
